.parent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    column-gap: 8px;
    row-gap:8px;
    height:400px;
.child1
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px soild black;
    background-color: antiquewhite;
    grid-row:span 2;
}
.child2
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px soild black;
    background-color: antiquewhite;
    font-size: 50px;
}
.child3
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px soild black;
    background-color: antiquewhite;
    font-size:50px;
}